---
layout:   default
title:    Lehrjahre
---
{% comment%}
Here we generate all the categories.
{% endcomment%}

{% assign rawcats = "" %}
{% for post in site.posts %}
{% assign tcats = post.category | join:'|' | append:'|' %}
{% assign rawcats = rawcats | append:tcats %}
{% endfor %}

{% assign rawcats = rawcats | split:'|' | sort %}

{% assign cats = "" %}

{% for cat in rawcats %}
{% if cat != "" %}

{% if cats == "" %}
{% assign cats = cat | split:'|' %}
{% endif %}

{% unless cats contains cat %}
{% assign cats = cats | join:'|' | append:'|' | append:cat | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}


<div class="posts">
    <p>
        {% for ct in cats %}
        <a href="#{{ ct | slugify }}" class="codinfox-category-mark" style="color:#999;text-decoration: none;"> {{ ct }} </a> &nbsp;&nbsp;
        {% endfor %}
        <a href="#no-category" class="codinfox-category-mark" style="color:#999;text-decoration: none;"> No Category </a> &nbsp;&nbsp;
    </p>

    {% for ct in cats %}
    <h2 id="{{ ct | slugify }}">{{ ct }}</h2>
    <ul class="codinfox-category-list">
        {% for post in site.posts %}
        {% if post.category contains ct %}
        <li>
                <a href="{{ post.url }}">{{ post.title }}</a> - Datum: {{ post.date | date_to_string }} - Fächer:
                {% for tag in post.tags %}
                <a class="codinfox-tag-mark" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
                {% endfor %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}

    <h2 id="no-category">No Category</h2>
    <ul class="codinfox-category-list">
        {% for post in site.posts %}
        {% unless post.category %}
        <li>
            <h3>
                <a href="{{ post.url }}">
                    {{ post.title }}
                    <small>{{ post.date | date_to_string }}</small>
                </a>
                {% for tag in post.tags %}
                <a class="codinfox-tag-mark" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
                {% endfor %}
            </h3>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>

</div>