---
layout: default
title: Suche
---

<h1>{{page.title}}</h1>

<form action="/search.html" method="get">
    <label for="search-box">Search</label>
    <input type="text" id="search-box" name="query">
    <input type="submit" value="search">
</form>

<ul id="search-results"></ul>

<script>
    window.store = [
    {%- for post in site.posts -%}
    {
        "name": "{{ post.url | slugify }}",
        "title": "{{ post.title | xml_escape }}",
        "category": "{{ post.category | xml_escape }}",
        "tags": "{{ post.tags | xml_escape }}",
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ post.url | xml_escape }}"
    }{% unless forloop.last %}, {% endunless %}
    {%- endfor -%}
    ];
</script>
<script src="/assets/js/lunr.min.js"></script>
<script src="/assets/js/search.js"></script>
